TIME_ZONE = 'Europe/Moscow'

DOCUMENTATION_URL = "http://graphite.readthedocs.org/"

DEFAULT_CACHE_DURATION = 300

LOG_RENDERING_PERFORMANCE = True
LOG_CACHE_PERFORMANCE = False
LOG_METRIC_ACCESS = True

GRAPHITE_ROOT = '/var/lib/graphite'

CONF_DIR = '/var/lib/graphite/conf'
STORAGE_DIR = '/var/lib/graphite/storage'
CONTENT_DIR = '/var/lib/graphite/webapp/content'

DASHBOARD_CONF = '/var/lib/graphite/conf/dashboard.conf'
GRAPHTEMPLATES_CONF = '/var/lib/graphite/conf/graphTemplates.conf'

CERES_DIR = '/var/lib/graphite/storage/ceres'
LOG_DIR = '/var/lib/graphite/storage/log/webapp'
INDEX_FILE = '/var/lib/graphite/storage/index'  # Search index file
DATABASES = {
    'default': {
        'NAME': 'graphite',
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'graphite',
        'PASSWORD': 'etihparg',
        'HOST': 'localhost',
        'PORT': '3306'
    }
}

SECRET_KEY = "e89c81ba4ffc32d541122165a4d1dd07"

REMOTE_FIND_TIMEOUT = 5.0              # Timeout for metric find requests
REMOTE_FETCH_TIMEOUT = 10.0            # Timeout to fetch series data
REMOTE_RETRY_DELAY = 20.0              # Time before retrying a failed remote webapp
REMOTE_READER_CACHE_SIZE_LIMIT = 10000 # Maximum number of remote URL queries to cache
FIND_CACHE_DURATION = 600              # Time to cache remote metric find results
FIND_TOLERANCE = 2 * FIND_CACHE_DURATION

MEMCACHE_HOSTS = [ '127.0.0.1:11211' ]

REMOTE_RENDERING = False
REMOTE_RENDER_CONNECT_TIMEOUT = 1.0
STORAGE_FINDERS = (
                    'graphite.clickhouse.ClickHouseFinder',
                    )
CLICKHOUSE_SERVER = "127.0.0.1"
METRICSEARCH = "127.0.0.1"
USE_PASSPORT_USER_AUTHENTICATION = False
CLUSTER_SERVERS = ['127.0.0.1']
RENDERING_HOSTS = ['127.0.0.1']
RENDER_DURATION_TIMEOUT = 20
